@model List<string>

@foreach (var item in Model)
{
    <div>
        @Html.ActionLink(item, "Client", "ClientUserManagement", new { id = item })
        <br />
    </div>
}

@if (User.IsAdministrator() || User.IsSystemAdministrator())
{
    <div>
        @Html.ActionLink("All Clients", "Client", "ClientUserManagement", new { id = "All" })
        <br />
    </div>
}