@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/sb-admin.css" rel="stylesheet">
</head>
<body>
    <h3>Dashboard</h3>
    <hr />
    <div>
        <br />
        <img src="/images/boxman.jpg">
    </div>
</body>
