@model IEnumerable<SiteViewModel>
@using PackageTracker.Identity.Data.Constants
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration


<div class="layout-header">
    @(Html.DevExtreme().Toolbar().ID("toolbar")
        .ElementAttr(new { @style = $"background-color: {@Configuration.GetSection("Environment").GetSection("Color").Value}" })
                .Items(items => {
                    items.Add()
                        .Widget(w => w
                            .Button()
                            .Icon("menu")
                            .OnClick("PPG.layoutAuthenticated.onMenuButtonClick")
                        )
                        .Location(ToolbarItemLocation.Before)
                        .CssClass("menu-button");

                    items.Add()
                        .Text(@Configuration.GetSection("Environment").GetSection("Title").Value)
                        .Location(ToolbarItemLocation.Before)
                        .CssClass("toolbar-logo");


                    items.Add()
                        .Widget(w => w
                            .DropDownButton()
                            .Text(User.Identity.Name)
                            .Icon("user")
                            .DataSource(new[] { "Profile", "Sign out" })
                            .ID("LargeMediaToolbarOptions")
                            .OnItemClick("PPG.layoutAuthenticated.onHeaderMenuClick")
                            ).CssClass("toolbar-dropdown-button").Location(ToolbarItemLocation.After);

                    items.Add()
                        .Widget(w => w
                            .Button()
                            .ID("btnSignOut")
                            .Text("Sign out")
                            .OnClick("PPG.layoutAuthenticated.onSignOut")

                    ) .LocateInMenu(ToolbarItemLocateInMenuMode.Always);

                })
            )
</div>

@using (Html.DevExtreme().NamedTemplate("plant-selector-template"))
{
    <div>
        @foreach (var site in Model)
        {<div>@site.SiteName</div>}
    </div>
}