@{
    ViewData["Title"] = "Dashboard";
}

@using DevExpress.AspNetCore

@section Head{

}

<div class="dx-item dx-toolbar-item dx-toolbar-button menu-button" id="toggleButton">
    <div class="dx-item-content dx-toolbar-item-content">
        @(Html.DevExtreme().Button().Icon("dx-icon dx-icon-menu").Visible(true).OnClick("PPG.dashboard.togglePanel"))
    </div>
</div>

<div id="dashboard-container" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0;">
    @(Html.DevExpress().Dashboard("ppgDashboard")
    .Width("100%")
    .Height("100%")
    .UseNeutralFilterMode(true)
    .WorkingMode(WorkingMode.Viewer)
    .OnBeforeRender("PPG.dashboard.onBeforeRender")
    
    .AllowMaximizeItems(false)
        .Extensions(ext => {
            ext.DashboardExport(options => {
                options.AllowExportDashboard(false);
                options.AllowExportDashboardItems(false);
            });
        })
    )
</div>

<!-- Defines the "Save As" extension template. -->
<script type="text/html" id="dx-save-as-form">
    <h2 class="content-block">Save As</h2>
    <div class="content-block">
        <div class="dx-card">
            <div class="ppg-container-cols">
                <div style="grid-column: 1 / span 4;">
                    <div class="ppg-label">Dashboard Name</div>
                    <div style="margin: 10px 0" data-bind="dxTextBox: { value: newName }"></div>
                </div>
                <div style="grid-column: 5 / span 2;">
                    <div class="left-down">
                        <div data-bind="dxButton: { text: 'Save', onClick: saveAs }"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</script>

@section Scripts {
    <script src="~/js/ppg/ppg.dashboard.bundle.min.js" asp-append-version="true"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function documentReady() {
            this.removeEventListener('DOMContentLoaded', documentReady);
            PPG.dashboard.init();
        });
    </script>
}