@model ParcelPrepGov.Web.Features.UserManagement.Models.EmailAccountCreatedViewModel

<h2>@Model.Username</h2>

<p>Please follow the link below to reset your temporary password. You temporary password will expire in @Model.ExpirationDays day(s).</p>

<p>@Model.ResetPasswordUrl</p>