<div class="content-block">
    <div class="dx-card ppg-card" id="downloadingServiceRulesCard">

        <div class="ppg-card-header-cols">
            <div style="grid-column: 1 / span 10;">
                <h2 class="content-block">Download Current Service Rules</h2>
            </div>
        </div>

        <div class="ppg-card-body-wrapper">
            <div class="ppg-container-cols ppg-card-body">
                <div style="grid-column: 1 / span 4;">
                    @(Html.DevExtreme().Button()
                        .ID("downloadCurrentServiceRulesButton")
                        .Text("Download")
                        .Type(ButtonType.Success)
                        .OnClick("PPG.downloadServiceRules.downloadCurrentServiceRulesButton_onClick")
                    )
                </div>
            </div>
        </div>
    </div>
</div>

@(Html.DevExtreme().DataGrid<IEnumerable<ServiceRuleExcel>>()
    .ID("currentServiceRulesGrid")
    .Export(e => e.Enabled(true).AllowExportSelectedData(false))
    .OnExporting("PPG.downloadServiceRules.currentServiceRulesGrid_onExporting")
    .Visible(false))