@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot password";
    Layout = null;
}
<head>
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/css/sb-admin.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">
</head>

<body class="background-img-globe">
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header"><h6>Request a Password Reset</h6></div>
            <div class="card-body">
                <div class="text-center mb-4">
                    <p>Enter an email address and we will send instructions on how to reset the password associated with this account.</p>
                </div>
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>
                <div class="text-center">
                    <a class="btn btn-link btn-sm btn-block" role="button" href="@Url.Action("Index","Home")">Return to Login</a>
                </div>
            </div>
        </div>
    </div>
    <script src="~/wwwroot/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
