.ppg-card-header-cols {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

    .ppg-card-header-cols > div {
        padding: 0;
    }

/*debug*/
/*.ppg-card-header-cols > div {
        border: dashed 1px #c0c0c0;
        background-color: #f5f5f5;
    }*/

.ppg-card-body-wrapper {
    display: none;
}

div.content-block .dx-card {
    padding-bottom: 0;
    /*padding-bottom: 20px; to show validation error messages on reports*/
}

.card-logo{
    width: 100%
}
