@model PasswordResetViewModel

@{
    ViewData["Title"] = "Password reset";
}

@(Html.DevExtreme().Popup()
        .Title("Password Reset")
        .Visible(true)
        .ShowCloseButton(true)
        .Width(500)
        .Height(375)
        .OnHidden("PPG.forgotPasswordReset.onHidden")
        .ContentTemplate(new TemplateName("password-reset-form"))
)

@using (Html.DevExtreme().NamedTemplate("password-reset-form"))
{
    @using (Html.BeginForm("ForgotPasswordReset", "Account", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.SecurityCode)

        @(Html.DevExtreme().Form<PasswordResetRequest>()
            .ID("forgotPasswordResetForm")
            .ColCount(1)
            .Items(items =>
            {

                items.AddSimpleFor(m => m.NewPassword)
                    .Editor(e => e
                        .TextBox()
                        .Mode(TextBoxMode.Password)
                    ).IsRequired(true);

                items.AddSimpleFor(m => m.ConfirmPassword)
                    .Editor(e => e
                        .TextBox()
                        .Mode(TextBoxMode.Password)
                    ).IsRequired(true);

                items.AddSimple().Template("<a href='#' id='pwdreq'>Password Requirements</a>");
                items.AddGroup().Items(innerGroupItems =>
                {
                    innerGroupItems.AddButton()
                        .HorizontalAlignment(HorizontalAlignment.Right)
                        .VerticalAlignment(VerticalAlignment.Bottom)
                        .ButtonOptions(b => b.Text("Submit")
                        .Type(ButtonType.Default)
                        .ID("submitButton")
                        .OnClick("PPG.forgotPasswordReset.onClick")
                        .UseSubmitBehavior(true));
                }).ColCount(1);

            }).FormData(Model))
    }
}

@(Html.DevExtreme().Popover()
                .Target("#pwdreq")
                .ShowEvent("mouseenter")
                .HideEvent("mouseleave")
                .Position(Position.Bottom)
                .Width(500)
                .ContentTemplate(@<text>
<ul style="font-size:smaller;">
                        <li>Passwords must be at least 8 characters.</li>
                        <li>Passwords must contain at least 2 uppercase letters.</li>
                        <li>Passwords must contain at least 2 lowercase letters.</li>
                        <li>Passwords must contain at least 4 numbers.</li>
                        <li>Passwords cannot contain consecutive equal characters.</li>
                        <li>Passwords cannot contain more than 2 consecutive sequential numbers.</li>
                    </ul>
                </text>)
            )

@section Scripts{
    <script src="~/js/ppg/ppg.account-forgot-password-reset.bundle.min.js" asp-append-version="true"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function documentReady() {
            this.removeEventListener('DOMContentLoaded', documentReady);
            PPG.forgotPasswordReset.init();
        });
    </script>

}
