@model PasswordResetRequest
@{
    ViewData["Title"] = "Password expired";
}

@(Html.DevExtreme().Popup()
        .Title("Password Expired")
        .Visible(true)
        .ShowCloseButton(false)
        .Width(400)
        .Height(540)
        .ContentTemplate(new TemplateName("password-expired-form"))
)

@using (Html.DevExtreme().NamedTemplate("password-expired-form"))
{
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.RedirectUrl)

        @(Html.DevExtreme().Form<PasswordResetRequest>()
            .ID("passwordExpiredForm")
            .ColCount(1)
            .Items(items =>
            {
                items.AddSimpleFor(m => m.Username)
                    .Editor(e => e
                        .TextBox()
                        .ID("username")
                        .ReadOnly(true)
                    ).IsRequired(true);

                items.AddSimpleFor(m => m.CurrentPassword)
                    .Editor(e => e
                        .TextBox()
                        .Mode(TextBoxMode.Password)
                    ).IsRequired(true);

                items.AddSimpleFor(m => m.NewPassword)
                    .Editor(e => e
                        .TextBox()
                        .Mode(TextBoxMode.Password)
                    ).IsRequired(true);

                items.AddSimpleFor(m => m.ConfirmPassword)
                    .Editor(e => e
                        .TextBox()
                        .Mode(TextBoxMode.Password)
                    ).IsRequired(true);

                items.AddSimple().Template("<a href='#' id='pwdreq'>Password Requirements</a>");
                items.AddGroup().Items(innerGroupItems =>
                {

                    innerGroupItems.AddButton()
                        .HorizontalAlignment(HorizontalAlignment.Left)
                        .VerticalAlignment(VerticalAlignment.Bottom)
                        .ButtonOptions(b => b.Text("Help")
                        .Type(ButtonType.Normal)
                        .Disabled(true)
                        .UseSubmitBehavior(false));

                    innerGroupItems.AddButton()
                        .HorizontalAlignment(HorizontalAlignment.Right)
                        .VerticalAlignment(VerticalAlignment.Bottom)
                        .ButtonOptions(b => b.Text("Submit")
                        .Type(ButtonType.Default)
                        .OnClick("PPG.passwordExpired.isFormValid")
                        .UseSubmitBehavior(true));
                }).ColCount(2);

            })
        @*.OnContentReady(@<text>function(e) {e.component.validate();}</text>)*@
        .FormData(Model))
    }
}

@(Html.DevExtreme().Popover()
                .Target("#pwdreq")
                .ShowEvent("mouseenter")
                .HideEvent("mouseleave")
                .Position(Position.Bottom)
                .Width(500)
                .ContentTemplate(@<text>
<ul style="font-size:smaller;">
                        <li>Passwords must be at least 8 characters.</li>
                        <li>Passwords must contain at least 2 uppercase letters.</li>
                        <li>Passwords must contain at least 2 lowercase letters.</li>
                        <li>Passwords must contain at least 4 numbers.</li>
                        <li>Passwords cannot contain consecutive equal characters.</li>
                        <li>Passwords cannot contain more than 2 consecutive sequential numbers.</li>
                    </ul>
                </text>)
            )

@section Scripts{
    <script src="~/js/ppg/ppg.account-password-expired.bundle.min.js" asp-append-version="true"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function documentReady() {
            this.removeEventListener('DOMContentLoaded', documentReady);
            PPG.passwordExpired.init();
        });
    </script>
}

