
<div class="ppg-container-rows-main-footer">
    <main>
        <div class="ppg-container-cols">
            <div style="grid-column: 1 / span 12;">
                <div class="ppg-label">Package Id</div>
                @(Html.DevExtreme().Autocomplete()
                    .ID("packageIdAutocomplete")
                    .DataSource(d => d.Mvc().Controller("RecallRelease")
                    .LoadAction(nameof(ParcelPrepGov.Web.Features.RecallRelease.RecallReleaseController.FindPackage))
                    .LoadParams(new { subClient = new JS("PPG.recallRelease.getSelectedSubClient") }))
                    .ValueExpr("PackageId")
                    .OnValueChanged("PPG.recallRelease.packageId_onValueChanged")
                    .ShowClearButton(true)
                    .SearchTimeout(1000)
                    .MinSearchLength(3)
                )
                @Html.Hidden("recallPackageSubClient")
            </div>
        </div>
    </main>
    <footer>
        <div class="ppg-container-cols">
            <div style="grid-column: 1 / span 12;" class="right">
                @(Html.DevExtreme().Button()
                            .ID("submitRecallButton")
                            .Text("Recall")
                            .Type(ButtonType.Success)
                            .UseSubmitBehavior(false)
                            .OnClick("PPG.recallRelease.submitPackageRecallButton_onClick")
                    )
            </div>
        </div>
    </footer>
</div>
