<form id="uploadForm" enctype="multipart/form-data">
    <div class="ppg-container-rows-main-footer">
        <main>
            <div class="ppg-container-cols">
                <div style="grid-column: 1 / span 12;">
                    <div class="ppg-label">Recall Multiple Packages</div>
                    @(Html.DevExtreme().FileUploader()
                            .ID("recallFileUploader")
                            .Name("recallFile")
                            .SelectButtonText("Choose File")
                            .LabelText("")
                            .Accept("text/csv")
                            .UploadMode(FileUploadMode.UseForm)
                            .AllowedFileExtensions(new[] { ".csv" })
                            .OnValueChanged("PPG.recallRelease.recallFileUploader_onValueChanged"))
                    <span class="note">Allowed file extensions: <span>.csv</span>.</span>
                    @Html.Hidden("recallFileSubClient")
                </div>
            </div>
        </main>
        <footer>
            <div class="ppg-container-cols">
                <div style="grid-column: 1 / span 12;" class="right">
                    @(Html.DevExtreme().Button()
                            .ID("submitFileRecallButton")
                            .Text("Recall")
                            .Type(ButtonType.Success)
                            .Disabled(true)
                            .UseSubmitBehavior(false)
                            .OnClick("PPG.recallRelease.submitFileRecallButton_onClick")
                    )
                </div>
            </div>
        </footer>
    </div>
</form>