@{
    ViewData["Title"] = "Welcome";
}

<h2 class="content-block">Welcome @User?.Identity?.Name</h2>
<div class="content-block">
    <div class="dx-card">
        <img class="card-logo" src="~/imgs/MMS.png">
    </div>
</div>