@model List<ParcelPrepGov.Web.Features.Reports.Models.ReportItem>
@{
    ViewData["Title"] = "Reports";
}


<h2 class="content-block">Reports Admin</h2>

<div class="content-block">
    <div class="dx-card">
        @(Html.DevExtreme().DataGrid()
            .ID("gridContainer")
            .DataSource(Model)
            .ShowBorders(true)
            .Columns(c => {
                c.Add().DataField("ReportName").Width(500).CellTemplate(@<text>
                    <a href='@Url.Action("Get","Reports")/<%= data.UpdateID%>'><%= value%></a>
                </text>);
                c.Add().DataField("Description");
            })
        )
    </div>
</div>